
div{
    /* border: solid 2px; */
    float: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.App {
    text-align: center;
    background: lightcyan;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.credentials{
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: skyblue;
}

header img{
  border-radius: 30%;
  height: 90%;
  width: 6%;
  position: relative;
  left: 20px;
}

.dropdown{
  border: none;
  position: relative;
  right: 50px;
}

main{
  background: #010716;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#LandingText{
  position: relative;
  left: 12px;
  height: 80%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#LandingText h1{
  font-family: cursive;
  font-size: 80px;
  color: lightskyblue;
}

#LandingText p{
  margin-top: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: aqua;
  text-align: center;
}

#LandingPic{
  /* border: solid #03032b; */
  height: 100%;
  width: 60%;
  background: url('./Components/pictures/27681894.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

#LandingInfo{
  height: 800px;
  background: lightsteelblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#creativeSpace{
  height: 90%;
  width: 95%;
}

#join{
  margin-top: 1%;
  font-size: 60px;
  font-family: fantasy;
  font-style: oblique;
}

.power{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#mySection{
  border: 2px solid black;
  height: 65vh;
  width: 75vh;
}

.dummyP{
  display: flex;
  justify-content: space-between;
}

#dash,
.sides{
  border: 2px solid black;
}

.sides{
  height: 100vh;
  width: 20%;
}

.sides h1{
  border-bottom: 2px solid black;
}

.sides button{
  border: none;
  border-radius: 10%;
  background: lightskyblue;
  height: 50px;
  width: 90%;
  font-family: fantasy;
  font-size: 25px;
}

.Bside{
  border-bottom: solid black;
  height: 38%;
}

.inSide{
  overflow: scroll;
}

#mmk{
  height: 40%;
}

#dash{
  height: 150px;
  width: 58%
}

.dashCon{
  display: flex;
  justify-content: space-around;
}