div{
    border: solid 2px;
    float: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primary{
    color: brown;
    font-family: cursive;
    float: right;
    padding: 12px;
    flex-wrap: wrap;
    margin: 12px;

}

