.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .groups,
.message{
  border: 2px solid black;
} */
/* .groups{
  border: 2px;
  height: 250px;
  width: 250px;
}
.message{
  border: 2px;
  height: 150px;
  width: 150px;
} */


/* .people{
  height: 500px;
  width: auto;
} */

.groups,
.message{
  height: 100px;
  width: 800px;
  border-style: groove;

}
.message{
  display: flex;
}
.people{
  height: 150px;
  width: 400px;

}

.pbox{
  display: flex;
  width: 100%;
}

.pbox p{
  align-self: flex-end;
  margin-left: 250px;
}
h2{
  position:relative;
  float: left;
}
#date{
  position:relative;
  float: right;
}

img,
.people{
  height: 50px;
  width: 80px;
}

.groups{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  order: 2;
}

.groups img{
  order: 1;
}